.main-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f8fafc;
    /* gray-50 */
    color: #0f172a;
    /* gray-900 */
}

.main-content {
    flex: 1;
    background-color: #f8fafc;
    display: flex;
    flex-direction: column;
    min-height: 0;
    /* Crucial for nested scroll */
    position: relative;
    /* Enables absolute children (Analyzer) */
}